# Server Configuration
BACKEND_PORT=3000

# Backend Supabase Configuration
SUPABASE_PROJECT_URL="https://your-project-id.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="your-supabase-service-role-key"
SUPABASE_ANON_KEY="your-supabase-anon-public-key"

# Frontend Vite Configuration
VITE_SUPABASE_PROJECT_URL="https://your-project-id.supabase.co"
VITE_SUPABASE_ANON_PUBLIC_KEY="your-supabase-anon-public-key"
